<html ng-app="app">
<head>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
     <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }       
    </style>
</head>
<body ng-controller="homeCtrl" ng-cloak>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">CRUD + Translation</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Language <span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="" ng-click="changeLanguage('en')">English</a></li>
	            <li><a href="" ng-click="changeLanguage('fr')">French</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>


	<div class="container">
		<form class="form-horizontal" ng-model='user'>
			<div class="form-group">
				<input type="hidden" class="form-control" style="width:250px;" ng-model="user.id"/>
				<label>{{'FIRSTNAME' | translate}}</label>
				<input type="text" class="form-control" style="width:250px;" ng-model="user.firstName"/>
				<label>{{'NAME' | translate}}</label>
				<input type="text" class="form-control" style="width:250px;" ng-model="user.name"/>
				<label>{{'AGE' | translate}}</label>
				<input type="text" class="form-control" style="width:250px;" ng-model="user.age"/>
				<label>{{'EMAIL' | translate}}</label>
				<input type="email" class="form-control" style="width:250px;" ng-model="user.email"/>
				<label>{{'PASS' | translate}}</label>
				<input type="password" class="form-control" style="width:250px;" ng-model="user.password"/>
			</div>
			<div class="form-group">
				<input ng-show="isCreate" ng-click="add(user)" type="submit" class="btn btn-default" value="{{'CREATE' | translate}}"/>
				<input ng-hide="isCreate" ng-click="edit(user)" type="submit" class="btn btn-default" value="{{'EDIT' | translate}}"/>
				<input ng-click="clear()" type="button" class="btn btn-default" value="{{'CLEAR' | translate}}"/>
			</div>
		</form>
		<hr>
		<div class="form-inline">
			<label>{{'SEARCH' | translate}}</label> <input type="text" ng-model="searchAll" class="form-control" style="width:250px;"/>
		</div>
		<br>
		<table class="table table-striped">
			<tr>
				<th>id</th>
				<th>{{'FIRSTNAME' | translate}}</th>
				<th>{{'NAME' | translate}}</th>
				<th>{{'AGE' | translate}}</th>
				<th>{{'EMAIL' | translate}}</th>
				<th>{{'PASS' | translate}}</th>
				<th></th>
			</tr>
			<tr ng-repeat="u in data | filter:searchAll" style="cursor:pointer;" ng-click="preEdit(u)">
				<td>{{u.id}}</td>
				<td>{{u.firstName}}</td>
				<td>{{u.name}}</td>
				<td>{{u.age}}</td>
				<td>{{u.email}}</td>
				<td>{{u.password}}</td>
				<td><button class="btn btn-danger" type="button" ng-click="remove(u)"><span class="glyphicon glyphicon-trash"></span></button></td>
			</tr>
		</table>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-cookies.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.10.0/angular-translate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-storage-local/2.10.0/angular-translate-storage-local.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-translate-storage-cookie/2.10.0/angular-translate-storage-cookie.js"></script>
	<script>
		var app = angular.module('app',['ngCookies', 'pascalprecht.translate']);

		var en = {
			FIRSTNAME: 'FirstName',
			NAME: 'Name',
			AGE: 'Age',
			EMAIL:'Email',
			PASS:'Password',
			CREATE:'Create',
			EDIT:'Edit',
			CLEAR:'Clear',
			SEARCH:'Search'
		}
		var fr = {
			FIRSTNAME: 'Prénom',
			NAME: 'Nom',
			AGE: 'Age',
			EMAIL:'Email',
			PASS:'Mot de pass',
			CREATE:'Crée',
			EDIT:'Modifier',
			CLEAR:'Netoyer',
			SEARCH:'Rechercher'
		}

		app.config(function($translateProvider){
			$translateProvider.translations('en',en);
			$translateProvider.translations('fr',fr);

			$translateProvider.preferredLanguage('en');
      			$translateProvider.useLocalStorage();
      			$translateProvider.useSanitizeValueStrategy('escape');
		})


		app.controller('homeCtrl',homeCtrl);
		homeCtrl.$inject = ['$scope','$translate'];

		function homeCtrl($scope, $translate){
			$scope.changeLanguage = function (key) {

			    $translate.use(key);
			};

			$scope.data = [{id:1,name:'Giunta',firstName:'Lucas',age:26,email:'lucas@outlook.com',password:'mypasswd'},
							{id:2,name:'sdfsdqf',firstName:'Bruno',age:27,email:'Bruno@outlook.com',password:'mypasswd'},
							{id:3,name:'zerzer',firstName:'Ugo',age:28,email:'Ugo@outlook.com',password:'mypasswd'},
							{id:4,name:'dsfdsf',firstName:'Francois',age:29,email:'Francois@outlook.com',password:'mypasswd'},
							{id:5,name:'raerae',firstName:'Carl',age:20,email:'Carl@outlook.com',password:'mypasswd'},
							{id:6,name:'ioio',firstName:'John',age:21,email:'John@outlook.com',password:'mypasswd'},
							{id:7,name:'hggjhg',firstName:'Celine',age:22,email:'Celine@outlook.com',password:'mypasswd'},
							{id:8,name:'cxvxcv',firstName:'Justine',age:23,email:'Justine@outlook.com',password:'mypasswd'},
							{id:9,name:'pmpkm',firstName:'Joss',age:24,email:'Joss@outlook.com',password:'mypasswd'},
							{id:10,name:'aqwsdqd',firstName:'Aurelia',age:25,email:'Aurelia@outlook.com',password:'mypasswd'}]

			$scope.isCreate = true;

			$scope.user = {
					id:'',
					name:'',
					firstName:'',
					age:'',
					email:'',
					password: ''
				}

			$scope.clear = function(){
				$scope.user = {
					id:'',
					name:'',
					firstName:'',
					age:'',
					email:'',
					password: ''
				}
				$scope.isCreate = true;

			}
			$scope.add = function(user){
				user.id = $scope.data.length + 1;
				$scope.data.push(user);
				$scope.clear();
			}

			$scope.preEdit = function(u){
				$scope.isCreate = false;
				$scope.user.id = u.id;
				$scope.user.name = u.name;
				$scope.user.firstName = u.firstName;
				$scope.user.age = u.age;
				$scope.user.email = u.email;
				$scope.user.password = u.password;
			}

			$scope.edit = function(user){
				for (var i = 0; i <= $scope.data.length; i++) {
					if($scope.data[i].id == user.id){
						$scope.data[i].name = user.name;
						$scope.data[i].firstName = user.firstName;
						$scope.data[i].age = user.age;
						$scope.data[i].email = user.email;
						$scope.data[i].password = user.password;

						return false;
					}
				};
				$scope.clear();
			}

			$scope.remove = function(user){
				for (var i = 0; i <= $scope.data.length; i++) {
					if($scope.data[i].id == user.id){
						$scope.data.splice(i,1);

						return false;
					}
				};
			}
		}
	</script>
</body>
</html>
